.block-disabled{
    /*opacity:.5;*/
    display: none;
}
.img-element{
    height: auto;
    width: 50px;
    padding: 2px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    margin-right: 5px;
}
.option_titles{
  font-size: 12px !important;
  height: 30px !important;
  line-height: 14px !important;
  /* margin-top: 10px !important;
  padding-top:5px; */ 
  border-top:1px solid #f7f7f7;
  border-bottom:1px solid #f7f7f7;
  text-align:center;
}

.option_div {
    border: 1px solid transparent;
}

.option_div, .option_div * {
  cursor: pointer;
}

.hidden {
    display: none;
}
.zoom:hover .zoom-imagen{
  display: block;

}

.zoom-imagen {
    position: absolute;
    top: 33%;
    font-size: 50px;
    left: 35%;
    color: #f7f7f7;
    text-shadow: 0px 0px 5px rgba(0,0,0,.5);
    display: none;
    background-color: rgba(0,0,0,.5);
    border: white solid 1px;
    border-radius: 4px;
}

.image-container{
  /* max-width:100%; */
  /* height:150px; */
}
.img-responsive{
  max-width:100%;
  max-height:100%;
}
.check-symbol{
  height:24px;
  margin:10px 0px;
}

.step-img {
  height: 20px !important;
  width: 20px !important;
  margin-right: 5px;
}

.btn-topblock{
  background: #13bf13;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;

}

.topblock-price{
  font-size: 40px;
  font-weight: 600;
  color:#353230;
  margin-top: 0 !important;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

#idxcp_imageeditor-sucess, #idxcp_imageeditor-error {
    display: none;
}
.no-stock-label{
  
  padding: 5px;
  background:#ff0000;
  color:#ffffff;
  position: absolute;
  right: 10px;
  border-radius: 5px;
}

.js_out_of_stock{
    cursor:not-allowed !important;
}

.out_of_stock{
    opacity:.3;
}

.idxrcp_qty {
    margin-right: 10px;
}

.idxrcp_qty .bootstrap-touchspin {
    height: 44px;
}

#submit_idxrcustomproduct alert {
    text-align: center;
}

#submit_idxrcustomproduct {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#submit_idxrcustomproduct .add-to-cart {
    display: flex;
    height: auto;
}

#idxrcustomprouct_quantity_wanted {
    height: 100%;
}

#idxrcustomproduct_send {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 45px;
}

.idxrcp_qty .input-group-btn {
    display: none;
}

.idxrcustomproduct-fileoption-error {
    display: none;
}

.js_icp_next_option {
    color: white !important;
}

.option_qty_block {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.option_qty_block input {
    max-width: 75px;
    text-align: right;
    border-radius: 5px;
    border-color: gray;
}

.option_description {
    overflow: hidden;
}

.icp-readmore-btn {
    background-color: transparent;
    padding: 0;
    border: solid 1px gray;
    width: 20px;
    height: 20px;
}

/** Description modal styles **/
#idxcp-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.58);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
  }
 
  .idxcp-popup-content {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 100px;
    border-radius: 3px;
    background: #fff;
    position: relative;
  }
 
  .idxcp-popup-closeBtn {
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 17px;
    color: #7c7575;
    text-decoration: none;
  }
  
.qty_input li {
  min-height: 50px;
}

.minified_extraheight_option {
   min-height: 100px;
}

.minified_qty_block.full_with_qty {
    width: 100%;
}

.minified_qty_block.full_with_qty input {
    max-width: 45% !important;
    width: 45%;
}

.option_description_block {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.idxroption_price_discounted {
  float: left;
  width: 50%;
  color: red !important;;
}

.btn-minified .idxroption_price_discounted,.idxcp_minified_option .idxroption_price_discounted {
    width: auto;
    float: none;
}

.idxroption_old_price {
  float:left;
  width: 50%;
  text-decoration: line-through;
}

.btn-minified .idxroption_old_price,.idxcp_minified_option .idxroption_old_price {
    width: auto;
    float: none;
}

.option_div .option_qty_block {
    display: none;
}

.idxrcp_resume_opt_price_wodiscount {
    color: #bababa;
    text-decoration: line-through;
}

#component_step_resume .resume_option_line_table {
    width: 100%;
}

#component_step_resume .resume_option_line_table .pull-right {
    float: right;
}

#component_step_resume .resume_price_block td {
    border-top: none;
}

.resume_option_line_table .option_title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.idxrcp_resume_opt_price, .idxrcp_resume_opt_price_wodiscount, #idx_resume_base_price {
    float: right;
    text-align: end;
}

.idxrcp_offscreen {
    position: fixed !important;
    left: -9999px !important;
    display: inline !important;
}