.product-description {
    overflow: visible !important;
}
.ets_rv_latest_reviews .slick-list {
    width: 100%;
}
.ets_rv_latest_item_content {
    width: 100%;
}
.ets_rv_home_reviews {
    display: flex;
    width: 100%;
    background: #ffff;
    margin-bottom: 50px;
    padding: 30px 10px 30px;
    flex-wrap: wrap;
}
.ets_rv_home_reviews .ets_rv_average_rating {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.ets_rv_home_reviews .ets_rv_latest_reviews {
    padding: 0;
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0!important;
}
.ets_rv_home_reviews .ets_rv_average_rating h3 {
    font-size: 24px;
    margin-bottom: 12px;
}
.ets_rv_home_reviews .ets_rv_average_rating .ets_rv_average_grade {
    margin-bottom: 13px;
}
.ets_rv_home_reviews .ets_rv_latest_item {
    width: 25%;
    padding: 0 15px;
    height: auto!important;
    display: flex!important;
}
.ets_rv_home_reviews .ets_rv_latest_item_content_wrap {
    border: 1px solid #ddd;
    padding: 15px;
    background: #fff;
    margin-top: 35px;
    text-align: center;
    position: relative;
    padding-top: 40px;
    border-radius: 4px;
    font-size: 12px;
}
.ets_rv_home_reviews .ets-rv-comment-author-avatar {
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -35px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.ets_rv_home_reviews .ets_rv_latest_item .ets_rv_latest_customer {
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 12px;
}
.ets_rv_home_reviews .ets_rv_latest_item .ets_rv_latest_title {
    font-size: 15px;
    font-weight: 600;
    color: #363A41;
    line-height: 22px;
    margin-bottom: 10px;
    word-break: break-word;
    overflow: hidden;
}
.ets_rv_home_reviews .slick-initialized .slick-slide {
    display: flex;
    height: auto;
}
.ets_rv_home_reviews .ets_rv_latest_item .ets_rv_latest_content {
    margin-bottom: 14px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 100px;
}
.ets_rv_home_reviews .ets_rv_latest_item .ets_rv_latest_product_infos a {
    display: flex;
    display: -webkit-flex;
    align-content: center;
    -webkit-align-content: center;
    outline: none!important;
}
.ets_rv_home_reviews .ets_rv_latest_item img {
    width: 55px;
    margin-right: 8px;
    min-width: 55px;
    border: 1px solid #ccc;
}
.ets_rv_home_reviews .slick-arrow::before {
    color: #333;
    content: "";
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: 14px;
    height: 14px;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 10px;
}
.ets_rv_home_reviews .slick-arrow.slick-next::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 10px;
    margin-left: 0;
}
.ets_rv_latest_reviews .slick-dots button {
    background: #eee;
    border-radius: 50%;
    font-size: 0;
    color: transparent;
    width: 8px;
    height: 8px;
    padding: 0!important;
    margin: 0!important;
    display: inline-block!important;
    vertical-align: middle;
    transition: all 0.3s;
}

.ets_rv_latest_reviews .slick-dots button:before {
    color: transparent!important;
    padding: 0!important;
}

.ets_rv_latest_reviews .slick-dots li {
    vertical-align: middle;
    width: auto;
    height: auto;
    margin: 0 7px;
}

.ets_rv_latest_reviews .slick-dots {
    margin-top: 25px;
    display: block;
    position: static;
    margin-bottom: 10px;
}

.ets_rv_latest_reviews .slick-dots li.slick-active button {
    background: #666;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.3);
}
.ets_rv_latest_reviews  > .ets_rv_latest_item {
    width: calc(25% - 30px);
    margin: 15px;
}
.ets_rv_latest_reviews .slick-arrow {
    left: -15px;
}
.ets_rv_latest_reviews .slick-arrow.slick-next {
    left: auto;
    right: -15px;
}
.ets_rv_latest_reviews_footer a {
    display: inline-block;
    font-size: 13px;
    color: #333;
    margin-right: 15px;
}
.ets_rv_latest_reviews_footer {
    text-align: right;
    display: block;
    width: 100%;
}

.ets_rv_latest_reviews span.ets_rv_avatar_photo, .ets_rv_latest_reviews .ets_rv_avatar_caption {
    width: 60px;
    height: 60px;
    display: flex;
    color: #ffffff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.ets_rv_latest_reviews span.ets_rv_avatar_photo {
    border: 1px solid #ddd;
    background-color: #fff;
}

.ets_rv_latest_reviews .slick-track {
    float: left;
    display: flex;
}
.ets_rv_latest_reviews .slick-slide > div:not(.ets_rv_latest_item):not(.ets_rv_latest_item_content) {
    display: flex !important;
    width: 100%;
}
.ets_rv_latest_product_infos a > span:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.ets_rv_latest_item .ets_rv_latest_date_add {
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
    margin-top: -5px;
}
.ets_rv_average_grade_comments {
    display: flex;
    justify-content: center;
    width: 100%;
}
.ets_rv_latest_content svg {
    width: 14px;
}
.ets_rv_latest_product_infos span {
    color: #24b9d7;
    font-size: 12px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.ets_rv_latest_item_content_wrap {
    display: flex!important;
    display: -webkit-flex!important;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
}
@media (max-width: 767px){
    .ets_rv_home_reviews {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
    }
    .ets_rv_home_reviews .ets_rv_average_rating {
        width: 100%;
        margin-bottom: 30px;
    }
    .ets_rv_home_reviews .ets_rv_latest_reviews {
        padding: 0 20px;
        width: 100%;
        margin-left: 0;
    }
    .ets_rv_latest_reviews .slick-arrow {
        left: 5px;
    }
    .ets_rv_latest_reviews .slick-arrow.slick-next {
        left: auto;
        right: 5px;
    }
    .ets_rv_latest_reviews .slick-arrow {
        left: 5px;
    }
    .ets_rv_latest_reviews .slick-arrow.slick-next {
        left: auto;
        right: 5px;
    }
}