
ul.ets_rv_upload_photos.slick-slider {
    display: block;
}
.ets-rv-comment-author-avatar .ets_rv_avatar_photo {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: block;
}
.ets_rv_review_photos .slick-arrow:before {
    color: #333;
    content: "";
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    width: 14px;
    height: 14px;
    display: inline-block;
    transform: rotate(-45deg);
    margin-left: 10px;
}
.ets_rv_review_photos .slick-arrow.slick-next::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 10px;
    margin-left: 0;
}
.ets_rv_wrap .row.form-group.ets_rv_upload_images label.form-label[data-for="upload_photo"] {
    width: 100%;
    text-align: left;
    max-width: 100%;
}

.ets_rv_wrap .form-group.ets_rv_upload_images > .col-lg-9 {
    width: 100%;
}
span.ets_rv_btn_upload {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    bottom: 0;
}

.ets_rv_images .ets_rv_fancy,
.ets_rv_images .ets_rv_normal {
    display: block;
    background-size: cover;
    width: 160px;
    max-width: 100%;
    border: 1px solid #eee;
    background-position: center;
    background-repeat: no-repeat;
}
.ets_rv_upload_photo_wrap:after {
    content: "";
    background-image: url(../img/bg_img.png);
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    right: 10px;
    background-size: contain;
    bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.05;
    pointer-events: none;
}
.ets-rv-product-comment-modal .ets_rv_upload_images ul.ets_rv_upload_photos + .help-block,
.ets_rv_upload_images .help-block {
    font-size: 12px;
    font-style: italic;
    color: #999;
    fill: #999;
    margin-top: 2px;
    display: block;
    clear: both;
    margin-bottom: 5px;
}
li.ets_rv_upload_video_item.cms_has_video .ets_rv_upload_video_wrap:before {
    opacity: 0!important;
}
.multi_videos li.extra_videos {
    display: flex;
    display: -webkit-flex;
}
span.extra_videos_show {
    background: rgba(0, 0, 0, 0.05);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    min-width: 34px;
    border: 1px solid #ddd;
}

.product-comment-image-html ul.ets_rv_images.ets_rv_upload_photos {
    margin-bottom: 5px;
    margin-top: 0;
}

.ets_rv_upload_video_item input[type=file] {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    max-width: calc(100% - 10px);
}

.ets-rv-comment-content .product-comment-image-html li.ets_rv_image_item a.ets_rv_fancy,
.ets-rv-comment-content .product-comment-image-html li.ets_rv_image_item a.ets_rv_normal {
    width: 100%;
}
.ets_rv_images .ets_rv_fancy:before,
.ets_rv_images .ets_rv_normal:before {
    content: "";
    position: relative;
    display: block;
    padding-top: 100%;
}

.ets_rv_images .ets_rv_fancy:hover,
.ets_rv_images .ets_rv_normal:hover {
    border-color: #999;
}
.ets_popup_content li.ets_rv_image_item.slick-slide a.ets_rv_fancy,
.ets_popup_content li.ets_rv_image_item.slick-slide a.ets_rv_normal {
    pointer-events: none;
}

span.ets_rv_video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ets_rv_upload_videos li.ets_rv_upload_video_item .ets_rv_upload_video_wrap:before,
.ets_rv_videos li.ets_rv_upload_video_item .ets_rv_upload_video_wrap:before {
    background-image: url(../img/video_bg.png);
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    right: 10px;
    background-size: contain;
    bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.04;
    pointer-events: none;
    position: absolute;
    content: "";
}

.ets-rv-comment-content .product-comment-image-html li.ets_rv_image_item a.ets_rv_fancy::before,
.ets-rv-comment-content .product-comment-image-html li.ets_rv_image_item a.ets_rv_normal::before {
    padding-top: 0;
}

li.ets_rv_upload_video_item + li.ets_rv_upload_video_item,
li.ets_rv_upload_video_item.cms_has_video span.ets_rv_video:before {
    display: none;
}

.ets_rv_video video {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    position: absolute;
    bottom: 0;
    height: 100%;
}
.ets_rv_review_photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
li.ets_rv_upload_video_item.cms_has_video + li.ets_rv_upload_video_item, li.ets_rv_upload_video_item.cms_has_video {
    display: inline-block !important;
}

li.ets_rv_upload_video_item:not(.cms_has_video) ~ li.ets_rv_upload_video_item:not(.cms_has_video) {
    display: none !important;
}

.cms_has_video input[type=file],
.ets_rv_upload_video_wrap.selected .ets_rv_video::before {
    display: none !important;
}
ul.ets_rv_upload_photos .ets_rv_upload_photo_wrap.selected {
    cursor: auto;
}

.ets_rv_upload_photo_wrap.selected span.ets_rv_btn_upload {
    display: none;
}

li.ets_rv_upload_video_item.cms_has_video + li.ets_rv_upload_video_item {
    display: inline-block;
}
.ets_rv_upload_photo_wrap.selected span.ets_rv_btn_delete_photo, .ets_rv_upload_video_item.cms_has_video span.ets_rv_btn_delete_video, .ets_rv_upload_video_wrap.selected span.ets_rv_btn_delete_video {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.ets_rv_upload_photo_wrap.selected:after {
    display: none !important;
}

span.ets_rv_btn_upload:before,
span.ets_rv_video:before {
    content: "+";
    font-size: 28px;
    color: #bbcdd2;
    border: 2px solid #bbcdd2;
    display: inline-block;
    line-height: 24px;
    width: 30px;
    padding-top: 0;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.page-product-box .ets_rv_upload_images > .col-lg-9,
.page-product-box .ets_rv_upload_images label.form-label {
    width: 100%;
}

ul.ets_rv_upload_photos .ets_rv_upload_photo_wrap:hover,
.ets_rv_upload_videos .ets_rv_upload_video_item:hover .ets_rv_upload_video_wrap {
    border: 3px solid #25b9d7;
    padding-top: calc(100% - 4px);
    padding-top: -webkit-calc(100% - 4px);
}
.ets_rv_upload_photo_wrap.selected {
    box-shadow: 0 0 1px 0 #666;
}
span.ets_rv_btn_delete_photo,
.ets_rv_btn_delete_video {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    border: 1px solid #fff;
    height: 20px;
    background: #666;
    z-index: 1;
    display: none;
    box-shadow: 0 0 1px 0 #333;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.ets_image_list_popup .ets_table-cell {
    padding: 0;
}

.ets_image_list_popup img {
    max-height: 100vh;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.ets_image_list_popup a.ets_rv_fancy,
.ets_image_list_popup a.ets_rv_normal {
    padding-top: 0 !important;
    height: calc(100vh - 10px) !important;
    background-size: contain !important;
    background-color: transparent !important;
    border: none !important;
    background-position: center;
    background-repeat: no-repeat;
}

.ets_image_list_popup button.slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 30px;
    background: transparent;
    height: 50px;
    border: none;
    margin-top: -25px;
    margin-left: -25px;
    left: 0;
    padding: 0;
    opacity: 0.3;
}

.ets_image_list_popup button.slick-arrow.slick-next {
    left: auto;
    right: 0;
    margin-left: auto;
    margin-right: -25px;
}

.ets_image_list_popup button.slick-arrow:before {
    content: "";
    width: 30px;
    height: 30px;
    border-top: 2px solid #eee;
    border-left: 2px solid #eee;
    display: inline-block;
    transform: rotate(-45deg);
    margin-top: 9px;
}

.ets_image_list_popup.blur_content:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-left: 2px solid rgba(255, 255, 255, 0);
    border-right: 2px solid rgba(255, 255, 255, 0);
    animation: loading 0.5s infinite linear;
    -webkit-animation: loading 0.5s infinite linear;
}

.ets_image_list_popup button.slick-arrow.slick-next:before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.ets-rv-comment-content .product-comment-image-html li.ets_rv_image_item {
    margin-bottom: 0;
}
.ets_rv_images li.ets_rv_image_item {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: center;
}
ul.ets_rv_images {
    display: block;
    padding-left: 0 !important;
    position: relative;
}
.ets_image_list_popup.blur_content .ets_rv_image_item {
    opacity: 0;
    visibility: hidden;
}
.ets_image_list_popup button.slick-arrow:hover {
    opacity: 1;
}


.ets_image_list_popup.active {
    display: block;
    opacity: 1;
    visibility: visible;
}
span.close_img_list {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #000000;
    cursor: pointer;
    z-index: 1;
}

span.close_img_list:before, span.close_img_list:after {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    background: #999;
    left: 50%;
    margin-left: -15px;
    transform: rotate(45deg);
}

span.close_img_list:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.product-comment-image-html, .product-comment-video-html {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    overflow: hidden;
    float: left;
    width: 100%;
}
span.close_img_list:hover::before,
span.close_img_list:hover::after {
    background: #ffffff;
}
ul.ets_rv_upload_photos .ets_rv_upload_photo_wrap,
.ets_rv_upload_video_wrap,
.ets-rv-comment-content .product-comment-image-html li.ets_rv_image_item a.ets_rv_fancy,
.ets-rv-comment-content .product-comment-image-html li.ets_rv_image_item a.ets_rv_normal {
    display: block;
    border: 1px solid #bbcdd2;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    background-position: center;
}
.ets_rv_review_photos_wrap .ets_rv_upload_photo_item .ets_rv_image_item_bg img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100%;
}
.ets_rv_review_photos_wrap .ets_rv_fancy:before,
.ets_rv_review_photos_wrap .ets_rv_normal:before {
    content: "";
    display: block;
    padding-top: 100%;
    background: transparent;
}
.ets_rv_review_photos_wrap .ets_rv_fancy,
.ets_rv_review_photos_wrap .ets_rv_normal {
    display: block;
}
.ets_rv_review_photos_wrap .ets_rv_upload_photo_item .ets_rv_image_item_bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    border: 1px solid #eee;
}
.ets_rv_upload_video_item > .uploader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0 !important;
}
.ets_rv_upload_video_item input[type="file"] {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    opacity: 0;
    z-index: 1;
}

li.ets_rv_upload_video_item:not(:first-child):not(.cms_has_video) {
    display: none;
}
li.ets_rv_upload_video_item.cms_has_video + li.ets_rv_upload_video_item,
li.ets_rv_upload_video_item.cms_has_video{
    display: inline-block;
}

@media (max-width: 767px) {
    .ets_rv_images li.ets_rv_image_item {
        width: 33.33%;
        float: left;
        margin-bottom: 15px;
    }
    .ets_image_list_popup .ets_table, .ets_image_list_popup .ets_table-cell {
        display: block;
    }
    .ets-rv-comment-content .product-comment-image-html li.ets_rv_image_item,
    .ets-rv-product-comment-list-item ul.ets_rv_upload_photos .ets_rv_upload_photo_item {
        width: 25%;
    }

    .ets_rv_image_item img {
        max-width: 100%;
    }
    .ets-rv-product-comment-modal ul.ets_rv_upload_photos .ets_rv_upload_photo_item,
    .ets-rv-product-comment-modal .ets_rv_upload_images li.ets_rv_upload_video_item{
        width: 16.666%;
    }

}
@media (max-width: 479px) {
    .ets_rv_review_photos .ets_rv_image_item {
        width: 33.33%;
    }
    .ets-rv-product-comment-modal ul.ets_rv_upload_photos .ets_rv_upload_photo_item,
    .ets-rv-product-comment-modal .ets_rv_upload_images li.ets_rv_upload_video_item{
        width: 25%;
    }
}