
 .clear{ clear:both; }
.db { display:block !important; }
.p0{ padding:0 !important;}
.b0 { border:0px !important;}
.form_template { margin-top:25px !important; }
.discount_group { display:none ; }
.fl { float:left !important; }
.prestashop-switch label { width:50% !important; }
body { text-align: left !important; }