.wishlist-modal {
    display: block;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}
.wishlist-modal.show {
    opacity: 1;
    pointer-events: all;
    z-index: 1051;
}
.wishlist-modal.show + .modal-backdrop {
    pointer-events: all;
}
.wishlist-modal.fade .modal-dialog {
    max-width: 550px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.wishlist-modal .close {
    font-weight: 400;
    color: #7a7a7a;
    opacity: 1;
    font-size: 2.25rem;
    outline: none;
    transition: all 0.2 linear;
}
.wishlist-modal .close:hover {
    opacity: 0.6;
}
.wishlist-modal .modal-header {
    padding: 0.625rem 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: none;
}
.wishlist-modal .modal-header h5 {
    color: #232323;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
}
.wishlist-modal .modal-header::after {
    content: none;
}
.wishlist-modal .modal-text {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
}
.wishlist-modal .modal-body {
    padding: 15px 30px;
}
.wishlist-modal .modal-body .form-group {
    margin-bottom: 0;
}
.wishlist-modal .modal-body .form-group .form-control {
    border-radius: 0;
    background: none;
}
.wishlist-modal .modal-content {
    width: 100%;
}
.wishlist-modal .modal-cancel {
    margin-right: 10px;
}
.wishlist-modal .modal-cancel:hover {
    opacity: 0.7;
}
.wishlist-modal .modal-footer {
    padding: 12px 30px;
    border: none;
    padding-bottom: 30px;
}
.wishlist-modal .modal-footer .btn {
    text-transform: none;
}
.wishlist-modal .modal-backdrop {
    pointer-events: none;
}
.wishlist-modal .modal-backdrop.in {
    pointer-events: all;
}
.wishlist-modal + .modal-backdrop {
    pointer-events: none;
}
.wishlist-modal + .modal-backdrop.in {
    pointer-events: all;
}



.products article .wishlist-button-add {
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 10;
    border-radius: 4px;    
    transform: translateY(-8px);
    background: none;
    box-shadow: none;

    opacity: 0;
    pointer-events: none;
}

.wishlist-footer-links {
    margin-bottom: 50px;
}
.wishlist-footer-links > a {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
}
.wishlist-footer-links > a:not(:first-child) {
    margin-left: 20px;
}
.wishlist-footer-links > a i {
    font-size: 20px;
    margin-right: 4px;
    vertical-align: middle;
}
