*.xml
!config.xml
translations/*
!translations/index.php
!translations/en.php
!translations/fr.php
!translations/es.php
!translations/it.php
!translations/de.php
!translations/pl.php
!translations/pt.php
!translations/cs.php
!translations/nl.php
!translations/ru.php
!translations/uk.php
!translations/translation.xml
.bashrc
.bash_profile
.bash_history
.bash_logout
.git-credentials
.idea
.DS_Store
cache/*
views/img/*
!views/img/index.php
!views/img/star.png
!views/img/menu
!views/img/other
!cache/index.php
views/PrestaShop___
config/services.yml
*.md
dev.html