<select id='fontSelect' onchange='changeFont(this.value)'>
  <option value='' disabled selected>Select a font</option>
  <option value='./fonts/Afacad_Flux\AfacadFlux-VariableFont_slnt,wght.ttf'>Afacad_Flux - AfacadFlux-VariableFont_slnt,wght</option>
  <option value='./fonts/Alfa_Slab_One\AlfaSlabOne-Regular.ttf'>Alfa_Slab_One - AlfaSlabOne-Regular</option>
  <option value='./fonts/Anton_SC\AntonSC-Regular.ttf'>Anton_SC - AntonSC-Regular</option>
  <option value='./fonts/Chakra_Petch\ChakraPetch-Bold.ttf'>Chakra_Petch - ChakraPetch-Bold</option>
  <option value='./fonts/Chakra_Petch\ChakraPetch-BoldItalic.ttf'>Chakra_Petch - ChakraPetch-BoldItalic</option>
  <option value='./fonts/Chakra_Petch\ChakraPetch-Italic.ttf'>Chakra_Petch - ChakraPetch-Italic</option>
  <option value='./fonts/Chakra_Petch\ChakraPetch-Light.ttf'>Chakra_Petch - ChakraPetch-Light</option>
  <option value='./fonts/Chakra_Petch\ChakraPetch-LightItalic.ttf'>Chakra_Petch - ChakraPetch-LightItalic</option>
  <option value='./fonts/Chakra_Petch\ChakraPetch-Medium.ttf'>Chakra_Petch - ChakraPetch-Medium</option>
  <option value='./fonts/Chakra_Petch\ChakraPetch-MediumItalic.ttf'>Chakra_Petch - ChakraPetch-MediumItalic</option>
  <option value='./fonts/Chakra_Petch\ChakraPetch-Regular.ttf'>Chakra_Petch - ChakraPetch-Regular</option>
  <option value='./fonts/Chakra_Petch\ChakraPetch-SemiBold.ttf'>Chakra_Petch - ChakraPetch-SemiBold</option>
  <option value='./fonts/Chakra_Petch\ChakraPetch-SemiBoldItalic.ttf'>Chakra_Petch - ChakraPetch-SemiBoldItalic</option>
  <option value='./fonts/cs-vasco-font-1730655040-0\CSVasco-Regular_demo-BF672337323e31e.otf'>cs-vasco-font-1730655040-0 - CSVasco-Regular_demo-BF672337323e31e</option>
  <option value='./fonts/Dancing_Script\DancingScript-VariableFont_wght.ttf'>Dancing_Script - DancingScript-VariableFont_wght</option>
  <option value='./fonts/Danfo\Danfo-Regular-VariableFont_ELSH.ttf'>Danfo - Danfo-Regular-VariableFont_ELSH</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-Bold.ttf'>IBM_Plex_Mono - IBMPlexMono-Bold</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-BoldItalic.ttf'>IBM_Plex_Mono - IBMPlexMono-BoldItalic</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-ExtraLight.ttf'>IBM_Plex_Mono - IBMPlexMono-ExtraLight</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-ExtraLightItalic.ttf'>IBM_Plex_Mono - IBMPlexMono-ExtraLightItalic</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-Italic.ttf'>IBM_Plex_Mono - IBMPlexMono-Italic</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-Light.ttf'>IBM_Plex_Mono - IBMPlexMono-Light</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-LightItalic.ttf'>IBM_Plex_Mono - IBMPlexMono-LightItalic</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-Medium.ttf'>IBM_Plex_Mono - IBMPlexMono-Medium</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-MediumItalic.ttf'>IBM_Plex_Mono - IBMPlexMono-MediumItalic</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-Regular.ttf'>IBM_Plex_Mono - IBMPlexMono-Regular</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-SemiBold.ttf'>IBM_Plex_Mono - IBMPlexMono-SemiBold</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-SemiBoldItalic.ttf'>IBM_Plex_Mono - IBMPlexMono-SemiBoldItalic</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-Thin.ttf'>IBM_Plex_Mono - IBMPlexMono-Thin</option>
  <option value='./fonts/IBM_Plex_Mono\IBMPlexMono-ThinItalic.ttf'>IBM_Plex_Mono - IBMPlexMono-ThinItalic</option>
  <option value='./fonts/Itim\Itim-Regular.ttf'>Itim - Itim-Regular</option>
  <option value='./fonts/Lobster\Lobster-Regular.ttf'>Lobster - Lobster-Regular</option>
  <option value='./fonts/magion-font-1730654999-0\magiontrial-italic.otf'>magion-font-1730654999-0 - magiontrial-italic</option>
  <option value='./fonts/magion-font-1730654999-0\magiontrial-regular.otf'>magion-font-1730654999-0 - magiontrial-regular</option>
  <option value='./fonts/Oswald\Oswald-VariableFont_wght.ttf'>Oswald - Oswald-VariableFont_wght</option>
  <option value='./fonts/Pacifico\Pacifico-Regular.ttf'>Pacifico - Pacifico-Regular</option>
  <option value='./fonts/Permanent_Marker\PermanentMarker-Regular.ttf'>Permanent_Marker - PermanentMarker-Regular</option>
  <option value='./fonts/Playfair_Display\PlayfairDisplay-Italic-VariableFont_wght.ttf'>Playfair_Display - PlayfairDisplay-Italic-VariableFont_wght</option>
  <option value='./fonts/Playfair_Display\PlayfairDisplay-VariableFont_wght.ttf'>Playfair_Display - PlayfairDisplay-VariableFont_wght</option>
  <option value='./fonts/Playwrite_GB_S\PlaywriteGBS-Italic-VariableFont_wght.ttf'>Playwrite_GB_S - PlaywriteGBS-Italic-VariableFont_wght</option>
  <option value='./fonts/Playwrite_GB_S\PlaywriteGBS-VariableFont_wght.ttf'>Playwrite_GB_S - PlaywriteGBS-VariableFont_wght</option>
  <option value='./fonts/Rubik_Wet_Paint\RubikWetPaint-Regular.ttf'>Rubik_Wet_Paint - RubikWetPaint-Regular</option>
  <option value='./fonts/seadoh-font-1730655129-0\seadoh-demolight.otf'>seadoh-font-1730655129-0 - seadoh-demolight</option>
  <option value='./fonts/seadoh-font-1730655129-0\seadoh-demoregular.otf'>seadoh-font-1730655129-0 - seadoh-demoregular</option>
  <option value='./fonts/Spicy_Rice\SpicyRice-Regular.ttf'>Spicy_Rice - SpicyRice-Regular</option>
</select>
<script src="https://cdnjs.cloudflare.com/ajax/libs/opentype.js/1.3.3/opentype.min.js"></script>
<script>
function changeFont(fontPath) {
    opentype.load(fontPath, function(err, font) {
        if (err) {
            console.error('Font could not be loaded:', err);
        } else {
            console.log('Font loaded:', font);
            // Apply the font to your elements as needed
        }
    });
}
</script>
