#content.bootstrap {
    padding-top: 160px;
    padding-left: 305px;
    padding-right: 90px;
}

#menuec_seo_mi {
    font-size: 14px;
}

#menuec_seo_mi .list-group{
    margin-bottom: 10px;
    display: inline-flex;
}

#menuec_seo_meta {
    font-size: 14px;
}

#menuec_seo_meta .list-group{
    margin-bottom: 10px;
}

.menuec_seo_meta, .menuec_seo_footer a{
    font-size : 11px;
}

.menuec_seo_meta .list-group, #menuec_seo_meta .list-group, .menuec_seo_footer .list-group, #menuec_seo_footer .list-group{
    display: inline-flex;
}
.menuec_seo_meta a, .menuec_seo_footer a{
    padding: 7px 10px 10px 10px !important;
    height: 30px;
}
#menuec_seo{
    position: fixed;
    top: 139px;
    left: 210px;
    font-size: 12px;
    width: calc(100% - 210px);
    z-index: 100;
}

#menuec_seo > .list-group {
    display: flex;
    margin-bottom: 0;
}

#menuec_seo > .list-group .list-group-item {
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    flex-grow: 1;
    padding: 0;
}

#menuec_seo .list-group-item {
    border: none;
}

#menuec_seo .list-group-item .chevron {
    position: absolute;
    right: 0;
    font-size: 16px;
}

#menuec_seo .list-group-item.active,
#menuec_seo .list-group-item:hover {
    background-color: #f0f0f0;
    /* border-color: #00aff0; */
}

#menuec_seo .list-group-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    padding: 10px 15px;
}

#menuec_seo .list-group-item.active > a,
#menuec_seo .list-group-item:hover > a {
    color: #666;
    text-decoration: none;
}

#menuec_seo .list-group-item .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 1px 7px 20px 4px #f0f0f0;
    background: #fff;
    font-size: 12px;
    width: 100%;
    z-index: 100;
}

#menuec_seo .list-group-item:hover .submenu {
    display: block;
}

#menuec_seo .list-group-item .submenu a:hover,
#menuec_seo .list-group-item .submenu a.active {
    background: #f0f0f0;
    color: #666;
    text-decoration: none;
}

.ec_seo_variables {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.ec_seo_variables li a {
    /* position: relative; */
    display: inline-block;
    border: 1px solid #a0a0a0;
    text-decoration: none;
    color: #666666;
    padding: 4px 7px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: all 0.3s;
}

.ec_seo_variables li a:hover,
.ec_seo_variables li a:focus {
    background: #666666;
    text-decoration: none;
    color: #ffffff;    
}

#ec_seo_allgraph{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ec_seo_graph_panel {
    flex-basis: calc(100% / 3 - 10px);
}

.big_chart {
    flex-basis: calc(40% - 15px);
}

#chart-opti {
    display: flex;
    justify-content: center;
    height: 100%;
}

#chart-opti svg {
    overflow: visible;
}

.big_graph {
    flex-basis: 60%;
}

#dash_report{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
#dash_report div {
    margin-right: 20px;
}

.list-group-item > a > i {
    flex-shrink: 0;
    background-repeat: no-repeat;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    
}

i.dashboard {
    background-image: url('../img/picto_dashboard.png');
}
i.metagenerator {
    background-image: url('../img/picto_titlemeta.png');
}
i.opengraph {
    background-image: url('../img/picto_opengraph.png');
}
i.balisealt {
    background-image: url('../img/picto_balisealt.png');
}
i.redirection {
    background-image: url('../img/picto_redirect.png');
}
i.redirectionimage {
    background-image: url('../img/picto_imageredirect.png');
}
i.internalmesh {
    background-image: url('../img/picto_maillage.png');
}
i.robot {
    background-image: url('../img/picto_robot.png');
}
i.task {
    background-image: url('../img/picto_task.png');
}
i.backup {
    background-image: url('../img/picto_save.png');
}
i.report {
    background-image: url('../img/picto_rapport.png');
}
i.config {
    background-image: url('../img/picto_config.png');
}
i.footerseo{
    background-image: url('../img/footer.svg');
}
i.blockhtml{
    background-image: url('../img/blockhtml.svg');
}
i.pagenoindex{
    background-image: url('../img/pagenoindex.svg');
}
.task-grp {
    display: flex;
    align-items: center;
}

.task-label {
    flex-basis: 25%;    
}

.task-btn {
    flex-basis: 8.333%;
}

.task-form {
    flex-basis: 66.667%;
}

.ec_suivi_task {
    float: none;
}

#ec_meta_product,
#ec_meta_category,
#ec_meta_cms ,
#ec_meta_supplier,
#ec_meta_manufacturer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#menuec_seo_meta_product,
#menuec_seo_meta_category {
    flex-basis: 100%;
}

#meta_generator_variables_product,
.taskMetaproduct,
#table_meta_product,
.tablebackupMetaProducts,
#meta_generator_variables_category,
.taskMetacategory,
#table_meta_category,
.tablebackupMetaCategories,
#meta_generator_variables_cms,
.taskMetacms,
#table_meta_cms,
#meta_generator_variables_supplier,
.taskMetasupplier,
#table_meta_supplier,
#meta_generator_variables_manufacturer,
.taskMetamanufacturer,
#table_meta_manufacturer,
#dash_report
{
    flex-basis: 100%;
}

#metageneratorproductgen_form,
#prev_form,
#metageneratorcategorygen_form,
#form-ec_list_meta_product,
#form-ec_list_meta_category,
#metageneratorcmsgen_form,
#metageneratorsuppliergen_form,
#metageneratormanufacturergen_form {
    flex-basis: 49.5%;
}

#prev_form .prev-dis {
    margin-left: 5px;
    flex-grow: 1;
}

#prev_form .form-group {
    display: flex;
    align-items: center;
}

#prev_form .control-label {
    flex-shrink: 0;
}

#dashboard_form {
    display: none;
}

#dashboard_form.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pan-recap {
    flex-basis: 100%;
}

#ec_seo_allgraph {
    flex-basis: 100%;
}

#dashboard_form .pastille {
    display: inline-block;
    background: #78d07d;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

#dashboard_form .pastille.red {
    background: #c05c67;
}

.material-icons.red {
    color: #c05c67;
}
.material-icons.green {
    color: #78d07d;
}

#dashboard_form a .material-icons {
    color: #a29999;
}

#content.bootstrap #dash_report {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.pave-family {
    display: flex;
    
    margin-bottom: 10px;
    width: 100%;
}

.pave {
    border-radius: 5px;
    background: #00cc66;
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
    padding: 25px 15px;
    flex-grow: 1;
}

.pave:last-child {
    margin-right: 0;
}

.pave.orange {
    background: orange;
}

.pave.red {
    background: red;
}

.pave.gris {
    background: grey;
}

.pave .pave_fl {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.pave b {
    font-size: 1.5rem;
    font-weight: normal;
}

#testrobot .form-group {
    display: flex;
    align-items: center;
}

#testrobot .form-group label {
    margin-right: 8px;
    margin-bottom: 0;
}
#testrobot .form-group input {
    flex-basis: 350px;
    margin-right: 8px;
}

#robot_form form .col-lg-9 {
    width: 100%;
    margin: 0;
}

#content .task-label {
    font-size: 14px;
    font-weight: bold;
}

#backup_form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

#backup_form .panel {
    flex-basis: 49.5%;
}

#report_form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#report_form > form {
    flex-basis: 49.5%;
    order: 2
}

#report_form .reportlist {
    flex-basis: 49.5%;
    order: 1;
}

#report_form .taskReport {
    flex-basis: 100%;
    order: 0;
}

.super-gauge {
    text-align: center;
}

.super-gauge .gauge {
    margin-top: -50px;
}

body {
    color: #474748;
}

.bootstrap .a {
    color: #009fc3;
}

.bootstrap .btn.btn-default:hover,
.bootstrap .btn.btn-primary,
.bootstrap .switch a,
.bootstrap .dropdown-menu>li>a:focus, .bootstrap .dropdown-menu>li>a:hover,
.bootstrap #dashboard .data_list li.active, .bootstrap #dashboard .data_list li.active:focus, .bootstrap #dashboard .data_list li.active:hover, .bootstrap .list-group-item.active, .bootstrap .list-group-item.active:focus, .bootstrap .list-group-item.active:hover,
.bootstrap .pagination>.active>a, .bootstrap .pagination>.active>a:focus, .bootstrap .pagination>.active>a:hover, .bootstrap .pagination>.active>span, .bootstrap .pagination>.active>span:focus, .bootstrap .pagination>.active>span:hover {
    background-color: #009fc3;
}

.process-icon-refresh.pulse {
    color: rgb(0, 159, 195);
    animation: color-pulse 1s infinite;
}

#ec_domains {
    width: auto;
    min-width: 150px;
}

#robot_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#s_ec_domains,
#testrobot {
    flex-basis: 49.5%;
}

#robot_form form {
    flex-basis: 100%;
}
#table-ec_ListPageCMSNoIndex tbody tr {
    height: 38px;
}

@media (max-width: 1400px) {
    #content.bootstrap {
        padding-top: 160px;
        padding-left: 225px;
        padding-right: 10px;
    }
}

@keyframes color-pulse {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform:  rotate(120deg);
    }
    40% {
        transform:  rotate(240deg);
    }
    60% {
        transform:  rotate(360deg);
    }
    80% {
        transform:  rotate(480deg);
    }
    100% {
        transform:  rotate(600deg);
    }

}
