$color-grey: #3c3c3c;
$color-dark: #232323;

/* define classes */
.pqnp-popup-clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.pqnp-popup-clearfix {
	display: inline-block;
}

* html .pqnp-popup-clearfix {
	height: 1%;
}

.pqnp-popup-clearfix {
	display: block;
}

.pqnp-popup-form-group {
	margin-bottom: 15px;
}

.pqnp-popup-row {
	margin-left: -5px;
	margin-right: -5px;
	@extend .pqnp-popup-clearfix;
}

[class^="pqnp-popup-col-"] {
	float: left;
	padding: 0 5px;
}

.pqnp-popup-col-sm-1 {
	width: percentage(1/12);
}

.pqnp-popup-col-sm-2 {
	width: percentage(2/12);
}

.pqnp-popup-col-sm-3 {
	width: percentage(3/12);
}

.pqnp-popup-col-sm-4 {
	width: percentage(4/12);
}

.pqnp-popup-col-sm-5 {
	width: percentage(5/12);
}

.pqnp-popup-col-sm-6 {
	width: percentage(6/12);
}

.pqnp-popup-col-sm-7 {
	width: percentage(7/12);
}

.pqnp-popup-col-sm-8 {
	width: percentage(8/12);
}

.pqnp-popup-col-sm-9 {
	width: percentage(9/12);
}

.pqnp-popup-col-sm-10 {
	width: percentage(10/12);
}

.pqnp-popup-col-sm-11 {
	width: percentage(11/12);
}

.pqnp-popup-col-sm-12 {
	width: percentage(12/12);
}

.pqnp-popup-text-right {
	text-align: right;
}

.pqnp-popup-text-left {
	text-align: left;
}

.pqnp-popup-text-sm {
	font-size: 14px;
}

.pqnp-popup-text-md {
    font-size: 16px;
}

a.pqnp-popup-button-link {
	color: #2fb5d2 !important;
	
	&:hover {
		text-decoration: underline !important;
		color: #2fb5d2 !important;
	}

	&.pqnp-popup-button-sm-link {
		font-size: 14px;
	}

	&.pqnp-popup-button-link-dark {
		color: $color-dark !important;

		&:hover {
			color: $color-dark !important;
			text-decoration: underline !important;
		}
	}
}


a.pqnp-popup-button {

	text-decoration: none;
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
	text-transform: uppercase;
	font-weight: 600;
	padding: 8px 20px;
	border-color: transparent;
	display: inline-block;
	
	&:hover {
		border-color: transparent;
		text-decoration: none;
	}

	&.pqnp-popup-button-primary {
		color: #fff !important;
		background-color: #2fb5d2;

		&:hover {
			color: #fff;
			background-color: #2592a9;
		}
	
	}

	&.pqnp-popup-button-danger {
		color: #fff !important;
		background-color: #ff4c4c;
		border-color: #ff4c4c;
		
		&:hover {
			color: #fff;
			background-color: #ff1919;
			border-color: #ff0f0f;
		}
	
	}
}

.pqnp-popup-alert {
	padding: 10px;

	&.pqnp-popup-alert-danger {
    	background: rgba(214, 8, 51, 0.9);
		color: #fff;
		font-size: 13.6px;
	}

	&.pqnp-popup-alert-success {
    	background: rgba(5, 177, 109, 0.9);
		color: #fff;
		font-size: 13.6px;
	}
}

.pqnp-popup-form-control {
	display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
	border-radius: 0;
    background: #f1f1f1;
    color: #7a7a7a;
    border: 1px solid rgba(0,0,0,.25);
	padding: 8px 16px;
	touch-action: manipulation;
	overflow: visible;

	&:focus {
		background-color: #fff;
		color: $color-dark;
		outline: 3px solid #2fb5d2;
		border-color: #66afe9;
	}

	&:active {
		color: $color-dark;
	}
}

select.pqnp-popup-form-control:not([size]):not([multiple]) {
	height: calc(40px - 2px);
	appearance: none;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-moz-appearance:none;
}

@media only screen and (max-width: 400px) {

	.pqnp-popup-xs-form-group {
		margin-bottom: 15px;
	}

	.pqnp-popup-col-xs-1 {
		width: percentage(1/12);
	}

	.pqnp-popup-col-xs-2 {
		width: percentage(2/12);
	}

	.pqnp-popup-col-xs-3 {
		width: percentage(3/12);
	}

	.pqnp-popup-col-xs-4 {
		width: percentage(4/12);
	}

	.pqnp-popup-col-xs-5 {
		width: percentage(5/12);
	}

	.pqnp-popup-col-xs-6 {
		width: percentage(6/12);
	}

	.pqnp-popup-col-xs-7 {
		width: percentage(7/12);
	}

	.pqnp-popup-col-xs-8 {
		width: percentage(8/12);
	}

	.pqnp-popup-col-xs-9 {
		width: percentage(9/12);
	}

	.pqnp-popup-col-xs-10 {
		width: percentage(10/12);
	}

	.pqnp-popup-col-xs-11 {
		width: percentage(11/12);
	}

	.pqnp-popup-col-xs-12 {
		width: percentage(12/12);
	}
}

/* setup window */

.pqnp-win-front {
	.pqnp-win-front-container {
		padding: 0;
		.pqnp-win-front-container-inner {
			padding: 0;
		}
	}
}

/* subscrie message popup */

.pqnp-popup-subscribe-message {
	box-sizing: border-box;
	padding: 20px;

	p {
		padding: 0 !important;
		margin: 0;
		margin-bottom: 10px;

		&:last-of-type {
			margin: 0;
		}
	}
}

/* setup popup */
.pqnp-popup-box {
	box-sizing: border-box;
	padding: 20px;
	
	* {
		box-sizing: border-box;
	}
	.pqnp-popup-show-logo {
		text-align: center;
	}

	.pqnp-popup-title {
		font-weight: bold;
		font-size: 22px;
		text-transform: uppercase;
		text-align: center;
		color: $color-grey;
	}

	.pqnp-popup-title-small {
		font-size: 13.6px;
		text-align: center;
		font-weight: bold;
		color: #7A7A7B;
	}

	label {
		color: $color-dark;
		text-align: right;
		font-size: 14px;
		display: inline-block;
		margin-bottom: 8px;
		font-weight: normal;
	}

	.pqnp-custom-checkbox-col {
		height: 28px;
	}

	.pqnp-popup-logo-box {
		margin-bottom: 30px;
	}

	.pqnp-popup-title-box {
		margin-bottom: 30px;
	}

	a.pqnp-submit-newsletterpro-subscribe {
		font-size: 16px;
		box-shadow: none;
		-webkit-transition: all 300ms; 
		transition: all 300ms;
		display: block;
		text-align: center;
		color: $color-grey !important;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,.25);

		&:hover {
			background-color: #fff;
			border: 1px solid rgba(0,0,0,.45);
			color: $color-dark !important;
		}
	}

	a.pqnp-submit-newsletterpro-unsubscribe {
		font-size: 16px;
		box-shadow: none;
		-webkit-transition: all 300ms; 
		transition: all 300ms;
		display: block;
		text-align: center;
		color: #fff !important;
		background-color: $color-grey;
		border: 1px solid rgba(0,0,0,.15);

		&:hover {
			color: #fff !important;
			background-color: #4b4b4b;
			border: 1px solid rgba(0,0,0,.25);
		}
	}

	.pqnp-popup-error {
		@extend .pqnp-popup-form-group;
	}
	.pqnp-popup-success {
		@extend .pqnp-popup-form-group;
	}

	.pqnp-popup-birthday {
		padding: 6px 16px;
	}

	.pqnp-close-timeout {
		color: $color-dark;
	}
}

