.quantityupdate .control-label {
  text-align: left !important;
}

.quantityupdate .quantityupdate-input-group input,
.quantityupdate .quantityupdate-input-group select {
  margin: 0 !important;
}

.update_file_format,
.export_file_format
{
  border-bottom: 1px solid #dadada;
  padding: 0 0 10px 0;
}
.support_tab_content .col-lg-offset-3{
  width: 100%;
  margin-left: 0;
}
.button_export_block button
, .button_update_block button
{
  padding: 4px 30px !important;
  font-size: 16px !important;
}
.product_list .col-lg-6, .manufacturer_list .col-lg-6, .supplier_list .col-lg-6 {
  height: 295px;
  padding: 0;
}
.price_input_200{
  width: 200px !important;
}
.button_export_block .col-lg-offset-3,
.button_update_block .col-lg-offset-3{
  width: 100%;
  margin: 20px 0 0 0;
  text-align: center;
}
.product_list .col-lg-6 tbody, .manufacturer_list .col-lg-6 tbody, .supplier_list .col-lg-6 tbody{
  display: -webkit-box;
  overflow: auto;
  height: 245px;
  position: absolute;
  width: 100%;
  border: 1px solid #dadada;
  margin-left: -1px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 2px 0,#fff 0 0 0 3px inset;
  box-shadow: rgba(0,0,0,0.1) 0 2px 0,#fff 0 0 0 3px inset;
}

.quantityupdate .product_list .table,
.quantityupdate .manufacturer_list .table {
  width: 100%;
}

.quantityupdate .supplier_list .col-lg-6 tbody {
  width: 100%;
}

.product_list, .manufacturer_list{
  display: inline-block !important;
  width: 100%;
}

.form_group_category, .supplier_list{
  display: inline-block !important;
  width: 100%;
  /*min-width: 530px;*/
  vertical-align: top;
}

#search_field{
  width: 50%;
}

.export_fields{
  display: inline-block !important;
  width: 230px;
}

.form_group_module_hind .module_hind{
  font-size: 13px;
  color: #3586AE;
  background-color: #edf7fb;
  display: inline-block;
  padding: 0 4px 0 4px;
}

.form_group_module_hind{
  border-bottom: 1px solid #dadada;
  padding: 0 0 10px 0;
  margin-bottom: 20px !important
}

@media (min-width: 1500px){
 .product_list, .manufacturer_list, .supplier_list, .form_group_category{
    width: 50%;
   float: left;
  }
  .export_file_format label
  ,.form_group_class_hide .col-lg-3
  ,.update_file_format label
    , .key_for_update label,
  .form_group_name_file .col-lg-3
  {
    width: 12% !important;
  }

 .form_group_module_hind .col-lg-offset-3,
 .auto_description .col-lg-offset-3
 {
   margin-left: 12%;
 }
}

.form_group_category ul#categories-tree
,.supplier_list ul#categories-tree
{
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.product_list .col-lg-9, .manufacturer_list .col-lg-9
, .form_group_category .col-lg-9
, .supplier_list .col-lg-9
{
  /*width: auto;*/
}

.product_list .col-lg-6
, .manufacturer_list .col-lg-6
, .supplier_list .col-lg-6
{
  width: 100%;
}

.product_list .col-lg-6 tbody tr td:nth-child(1)
, .manufacturer_list .col-lg-6 tbody tr td:nth-child(1)
, .supplier_list .col-lg-6 tbody tr td:nth-child(1)
{
  width: 5%;
  min-width: 50px;
  text-align: center;
}

.product_list .col-lg-6 tbody tr td:nth-child(4) label, .manufacturer_list .col-lg-6 tbody tr td:nth-child(4) label, .supplier_list .col-lg-6 tbody tr td:nth-child(4) label{
  width: 100%;
  cursor: pointer;
}

.product_list .col-lg-6 thead tr th:nth-child(2), .manufacturer_list .col-lg-6 thead tr th:nth-child(2){
  width: 9%;
}
.logo_myprestamodules{
  float: left;
  margin-right: 10px;
  margin-left: 40px;
  width: 30px;
}

.progres_bar_ex_quantityupdate {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FFF;
  opacity: 0.75;
  z-index: 1111;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.progres_bar_ex_quantityupdate .loading{
  display: block;
  position: fixed;
  left: 50%;
  top: 40%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1e93d0;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 111;
}

.progres_bar_ex_quantityupdate .loading_block{
  display: block;
  position: fixed;
  left: 50%;
  top: 40%;
  width: 380px;
  height: 60px;
  margin-left: -190px;
}

.progres_bar_ex_quantityupdate .exporting_notification{
  position: absolute;
  left: 30px;
  z-index: 11111;
  font: bold 18px/18px Arial;
  color: #000;
  top: 110px;
  width: 380px;
}

.progres_bar_ex_quantityupdate .loading:before{
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff7462;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;

}

.progres_bar_ex_quantityupdate .loading:after{
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffb30a;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.sort_block_orderway .col-lg-9 .radio {
  float: left;
  width: 100px;
  padding-top: 2px;
}
.sort_block_orderway{
  /*border-bottom: 1px solid #dadada;*/
  /*padding-bottom: 15px;*/
}
.sort_block_orderway .col-lg-9 .radio label{
  border: 1px solid #dadada;
  padding: 5px 25px 5px 40px;
  border-radius: 3px;
}

.upload_file_update .control-label{
  width: 192px;
}
.upload_file_update{
  padding-top: 20px;
  border-top: 1px solid #dadada;
  margin-top: 10px;
}
.button_update_block .col-lg-9{
  margin-left: 0px !important;
}

.quantityupdate .delimiter{
  display: none;
}

.quantityupdate .line{
  border-bottom: 1px solid #dadada;
  padding: 0 0 10px 0;
}

.quantityupdate input[name=file_url]
,.quantityupdate input[name=settings]
,.quantityupdate input[name=ftp_server]
,.quantityupdate input[name=ftp_user]
,.quantityupdate input[name=ftp_password]
,.quantityupdate input[name=ftp_file_path]
{
  width: 450px;
}

.quantityupdate .file_import_ftp{
  display: none;
}

.quantityupdate #automatic label{
  width: 200px;
}

.quantityupdate #automatic .switch label{
  width: 50%;
}

.quantityupdate .form_fields_mapping.ftp{
  margin-left: 167px;
}

.quantityupdate .form_file_url
,.quantityupdate .form_fields_mapping
,.quantityupdate .file_product_identifier
,.quantityupdate .product_identifier
,.quantityupdate .file_product_price
,.quantityupdate .product_price
,.quantityupdate .settings
,.quantityupdate .save_settings
{
  display: inline-block;
  position: relative;
}

.quantityupdate textarea[name=emails]{
  width: 350px;
  height: 100px;
}

.quantityupdate .settings{
  padding-top: 10px;
}

.quantityupdate .save_settings button{
  width: 102px;
}

.quantityupdate .form_file_url div
,.quantityupdate .product_identifier div
,.quantityupdate .product_price div
,.quantityupdate .settings div
{
  width: auto;
}

.quantityupdate .file_product_identifier:before
,.quantityupdate .file_product_price:before
{
  content: '\f178' !important;
  font: normal normal normal 28px/1 FontAwesome;
  position: absolute;
  left: 17px;
  top: 1px;
}


#form-settings_list{
  display: none;
}

.quantityupdate .automatic_block{
  padding: 5px 0 10px 100px;
  border-bottom: 1px solid #dadada;
}


.quantityupdate .automatic_block div{
  margin: 0;
  word-break: break-all;
}

.style_width_100{
  width: 100px !important;
}
.style_width_150{
  width: 150px !important;
}
.block_selection_type ,
.select_currency,
.selection_quantity,
.selection_price{
  float: left;
  margin-right: 5px;
  position: relative;
}
.block_type_quantity input[name="selection_quantity"],
.block_type_price input[name="selection_price"],
.block_selection_type input[name="selection_type_quantity"],
.block_selection_type input[name="selection_type_price"] {
  float: left;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.block_type_quantity label,
.block_type_price label,
.block_selection_type label{
  border: 1px solid #cccccc;
  width: 35px;
  text-align: center;
  height: 31px;
  font-size: 21px;
  border-radius: 3px;
  cursor: pointer;
}
.block_type_quantity label:hover,
.block_type_quantity.active,
.block_type_price label:hover,
.block_type_price.active,
.block_selection_type label:hover,
.label_selection_type.active{
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.form_group_name_file .col-lg-9{
  width: 300px;
}
.form_group_line{
  border-bottom: 1px solid #dadada;
  margin-bottom: 35px !important;
  margin-top: 20px !important;
}

.auto_description,
.form_group_name_file{
  display: none;
}
.auto_description.active_block,
.form_group_name_file.active_block{
  display: block;
}

#support .col-lg-9{
  margin: 0;
}

.block_style_width_200{
  width: 200px !important;
}

.line_form{
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 20px !important;
  margin-top: 20px;
  border-bottom: 1px solid #dadada;
}

.renderListProducts{
  width: 100%;
}

.button_update_live .update_live{
  padding: 7px 30px;
  font-size: 15px;
}
.button_update_live .col-lg-9{
  width: 100%;
  margin-left: 0px;
  text-align: center;
  margin-top: 30px;
}


.blockfilterCategories{

  margin-bottom: 30px !important;
  margin-top: 20px;
}
.blockfilterPrice{
  width: 430px;
  float: left;
  margin-bottom: 20px !important;
  margin-top: 20px;
}
.filter_label{
  width: 180px;
  float: left;
  text-align: right;
  padding-right: 20px;
  margin-top: 6px;
  font-size: 13px;
  font-weight: normal !important;
  color: #666;
}
.selection_quantity.style_width_100,
.selection_price.style_width_100,
.block_type_quantity.quantity_up,
.block_type_price.price_up{
  float: left;
  margin-right: 5px;
}
.one_block_live_filter{
  height: 32px;
}
.one_block_live_filter.first{
  margin-bottom: 15px;
}
.table_product_list .header_block{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #555;
  height: 32px;
  border-bottom: 1px solid #dadada;
}
.table_product_block .center-text{
  display: block;
  text-align: center;
}

.table_product_block .min_max input{
  width: calc(50% - 5px);
  float: left;
  max-width: 65px;
}
.table_product_block .min_max input.min{
  margin-right: 5px;
}
.table_product_block .min_max input.max{
  margin-left: 5px;
}
.table_product_list .filter_button{
  float: right;
  margin-top: -5px;
}
.table_product_list .filter_button .material-icons{
  margin-top: 0px;
  float: left;
  margin-right: 7px;
}
.table_product_list .filter_button button{
  height: 32px;
  line-height: 8px;
}
.table_product_list .title{
  float: left;
}
.table_product_list tbody tr td {
  background-color: transparent !important;
}
.table_product_list tbody tr:nth-child(even) {
  background: #FCFDFE;
}
#quantityupdate_pagination{
  margin: 17px 0 0 0;
  float: right !important;
  display: inline-block;
  padding-left: 0;
  border-radius: 3px;
}
.quantityupdate_pagination li:hover{
  color: #999;
  background-color: #f5f8f9;
  border-color: #ddd;
  cursor: not-allowed;
  text-decoration: none;
}
.quantityupdate_pagination li{
  position: relative;
  float: left;
  line-height: 1.42857;
  text-decoration: none;
  color: #00aff0;
  cursor: pointer !important;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.quantityupdate_pagination li.active.current,
.quantityupdate_pagination li.truncate{
  padding: 6px 8px;
}
.quantityupdate_pagination li a{
  display: block;
  padding: 6px 8px;
}
.quantityupdate_pagination li.active{
  z-index: 2;
  color: #fff;
  background-color: #00aff0;
  border-color: #00aff0;
  cursor: default !important;
}
.quantityupdate_pagination{
  list-style: none;
}
.table_product_list .bulk_actions{
  width: 120px;
  float: left;
  margin-top: 17px;
  margin-right: 20px;
}
#display_pagination span{
  display: block;
  width: 50px;
  float: left;
  padding-top: 7px;
}
#display_pagination .display_pagination_all{
  float: left;
  width: 120px;
  padding-top: 7px;
  padding-left: 5px;
}
#display_pagination .display_pagination{
  width: 70px;
  float: left;
}
#display_pagination{
  float: right;
  width: 300px;
  margin-top: 17px;
  margin-right: 20px;
}
.pagination_right_block{
  float: left;
  width: 40%;
}
.pagination_left_block{
  float: left;
  width: 60%;
}
.table_product_list{
  margin-bottom: 30px;
  position: relative;
}
#submitFilterButtonquantityupdate{
  padding-right: 25px;
}
#submitResetButtonquantityupdate{
  text-transform: uppercase;
  padding: 0 20px 0 18px;
}

.quantity-update-condition-rules > div,
.price-update-condition-rules > div {
  border: 1px solid #dddddd;
  border-radius: 3px;
  max-width: 1070px;
  padding: 0 !important;
}
.conditions-block > .title {
  color: #0b0827;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.conditions-block {
  padding: 30px;
}

.conditions-block-toggle-header.opened > i {
  transform: rotate(180deg);
}

#quantity_conditions_block .quantity-condition,
#price_conditions_block .price-condition {
  display: flex;
  margin-top: 30px;
  align-items: flex-end;
  flex-wrap: wrap;
}

#quantity_condition_blueprint,
#price_condition_blueprint {
  display: none;
}

#quantity_conditions_block .quantity-condition .remove-quantity-condition,
#price_conditions_block .price-condition .remove-price-condition {
  max-height: 31px;
}

#quantity_conditions_block .quantity-condition .quantityupdate-input-group,
#price_conditions_block .price-condition .quantityupdate-input-group {
  margin-right: 20px;
  width: 200px;
}

#add_quantity_condition,
#add_price_condition {
  margin: 10px 0 30px 30px;
  display: block;
}

@media (max-width: 1590px) {
  .quantity-update-condition-rules > div,
  .price-update-condition-rules > div {
    margin-left: 0 !important;
  }
}

@media (max-width: 1092px) {
  #quantity_conditions_block .quantity-condition .quantityupdate-input-group:first-child,
  #price_conditions_block .price-condition .quantityupdate-input-group:first-child {
    width: 135px;
  }

  #quantity_conditions_block .quantity-condition .quantityupdate-input-group:nth-child(2),
  #price_conditions_block .price-condition .quantityupdate-input-group:nth-child(2),
  #quantity_conditions_block .quantity-condition .quantityupdate-input-group:nth-child(3),
  #price_conditions_block .price-condition .quantityupdate-input-group:nth-child(3) {
    width: 100px;
  }
}