#samdha_warper .ui-progressbar {
    position: relative;
    height: 2em;
    margin-bottom: 0;
}




.ui-progressbar .ui-progressbar-value {
    margin: 0px;
    height: 100%;
    height: 100%;
    color: #ffffff;
    background-color: #428BCA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

#samdha_warper .ui-progressbar .text {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}