div.payment_module.sogecommerce15 {
    padding-bottom: 20px;
}

div.payment_module.sogecommerce16 a {
    padding-left: 15px;
    background-color: #fbfbfb;
}

div.payment_module.sogecommerce a.unclickable {
    cursor: default !important;
    text-decoration: none !important;
}

div.payment_module.sogecommerce a.unclickable:HOVER {
    text-decoration: none !important;
}

div.payment_module.sogecommerce a img {
    float: none !important;
}

div.payment_module.sogecommerce a img.logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    max-width: 86px;
    max-height: 36px;
}

div.payment_module.sogecommerce a form {
    padding-left: 40px;
    font-size: 13px;
    text-transform: none !important;
}

div.payment_module.sogecommerce.multi ul {
    display: inline-block;
    margin-bottom: 0;
}

div.payment_module.sogecommerce.multi ul li {
    font-weight: bold;
    color: #777777;
    cursor: pointer;
    list-style-type: square;
    margin-left: 15px;
}

div.payment_module.sogecommerce.multi ul li:HOVER {
    color: #000;
}

div.payment_module.sogecommerce.multi p.tip {
    padding-bottom: 5px !important;
}

p.sogecommerce_link {
    color: #204a87;
    cursor: pointer;
    text-decoration: underline;
    font-size: 17px;
    font-weight: bold;
}

span.sogecommerce_span {
    font-size: 17px;
    font-weight: bold;
}

label.sogecommerce_label {
    font-size: 17px;
    font-weight: bold;
}

.checker, .checker+label {
    display: inline-block;
    vertical-align: middle;
}

div.kr-smart-form-list-section-name {
    font-weight: bold !important;
}

.sogecommerce_hide-wallet-elements {
    display: none !important;
}