body{
    font-size: 14px;
    font-family: "Open Sans",Arial;
    font-weight: normal;
    line-height: 1.7;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-right: 1px solid #ddd;
}
#sidebar .coppyright {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    padding: 12px 15px;
    width: 100%;
    background: #022335;
    border-top: 1px solid #ddd;
    color: #fff;
}
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo {
    padding: 15px;
    background: #022335;
}
#sidebar ul a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 12px 15px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}
#content {
    padding-left: 280px;
    padding-right: 30px;
}
.img_logo {
    color: #fff;
    text-decoration: none;
}
#sidebar ul {
    max-height: calc(100% - 110px);
    display: block;
    overflow: auto;
}

.section h2 {
    background: #eee;
    padding: 15px;
    margin-bottom: 15px;
}
.section {
    margin-bottom: 50px;
}
.box {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}
.box h3 {
    margin-top: 0;
}
.box ul li {
    list-style: disc;
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}
code {
    background: #ddd;
    padding: 2px 10px;
    border-radius: 50px;
}
.inline-scroll {
    margin-right: 10px;
}
.section ul li {
    margin-bottom: 5px;
    margin-top: 5px;
}
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}
th,td,tr {
    border: 1px solid #ccc;
    padding: 10px;
}
th {
    background: #eee;
}
.code {
    background: #eee;
    display: inline-block;
}
caption, label {
    background: #ffefb3;
    text-align: left;
    padding: 5px 15px;
    margin: 10px 0 10px;
    color: #333;
    display: inline-block;
}
.note {
    font-style: italic;
    color: #999;
}
h3 {
    text-decoration: underline;
    text-decoration-style: double;
    text-underline-offset: 3px;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-track-piece {
    background-color: #c2d2e4;
}
:root{
    scrollbar-color: #555 #eee !important;
    scrollbar-width: thin;
}
#sidebar ul a.active {
    background: #eee;
}



