body { 
	font-family: Arial, Helvetica, sans-serif; 
	margin: 0; 
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table.newsletter-pro-content td {

}

a.link, 
a.link:link, 
a.link:visited { 
	border: none; 
	color: #337ed0; 
	font-size: 12px; 
	font-weight: bold; 
	text-align: center; 
	text-decoration: none;
	cursor: pointer; 
	display: block; 
	line-height: 22px; 
	width: 100%; 
	height: 22px; 
}

a img { 
	border: none; border-style: none; 
}