/* Custom Shipping Rate CSS */

#unable_to_calculate_custom_shipping {
    background: #fff;
    border: 1px solid #d6d4d4;
    padding: 9px 8px 11px 18px;
    margin-bottom: 2em;
}
#unable_to_calculate_custom_shipping p {
    margin-bottom:15px;
}
#unable_to_calculate_custom_shipping .message.row {
    margin-top:15px;
	display:none;
}
#get_custom_shipping_rate {
    margin-bottom:15px;
}
#unable_to_calculate_custom_shipping #spinner_loader {
    text-align: left;
	margin-top:15px;
	display:none;
}
#unable_to_calculate_custom_shipping #spinner_loader i.icon-spinner {
    font-size: 22px;
	color:#669900;
}
#unable_to_calculate_custom_shipping h4.success-message.text-success {
	color:#009966;
}