<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>prestaload</name>
	<displayName><![CDATA[PrestaLoad]]></displayName>
	<version><![CDATA[0.4.0]]></version>
	<description><![CDATA[Minimal placeholder module.]]></description>
	<author><![CDATA[Acrosoft]]></author>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
