#subtab-AdminFaqop .link .material-icons {
    display: none;
}
#subtab-AdminFaqop .link::before {
    content: "";
    display: inline-block;
    margin-left: 3px;
    width: 16px;
    height: 16px;
    background-image: url("../img/comment-dots-solid.svg");
    background-repeat: no-repeat;
}