.pqnp-custom-checkbox label {
  text-align: left !important;
}

.pqnp-custom-checkbox input[type='checkbox'] {
  margin-top: 4px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.pqnp-custom-checkbox input[type='checkbox'] + span {
  margin-right: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid #232323;
}

.pqnp-custom-checkbox input[type='checkbox']:focus + span {
  border-color: #444444;
}

.pqnp-custom-checkbox input[type='checkbox']:checked + span .pqnp-checkbox-checked {
  display: block;
}

.pqnp-custom-checkbox input[type='checkbox'] + span .pqnp-checkbox-checked {
  display: none;
  margin: 0.8px 0.48px;
  font-size: 9.6px;
  color: #232323;
}

.pqnp-custom-radio-inline {
  display: inline-block;
  margin-right: 5px;
}

.pqnp-custom-radio {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #7a7a7a;
  background: #fff;
  margin-right: 3px;
}

.pqnp-custom-radio input[type='radio'] {
  opacity: 0;
  cursor: pointer;
}

.pqnp-custom-radio input[type='radio']:checked + span {
  display: block;
  background-color: #2fb5d2;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
}
@font-face {
  font-family: "pqnp-font";
  src: url("./../fonts/pq-font.eot?sdidtb");
  src: url("./../fonts/pq-font.eot?sdidtb#iefix") format("embedded-opentype"), url("./../fonts/pq-font.ttf?sdidtb") format("truetype"), url("./../fonts/pq-font.woff?sdidtb") format("woff"), url("./../fonts/pq-font.svg?sdidtb#pqnp-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^='pqnp-icon-'],
[class*=' pqnp-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "pqnp-font" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pqnp-icon {
  font-size: 0.85rem;
}

.pqnp-icon-checkbox-checked:before {
  content: '\E902';
}

.pqnp-icon-window-maximize:before {
  content: '\E901';
}

.pqnp-icon-window-corner-resize:before {
  content: '\E900';
}
.pqnp-win-front {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999999;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.pqnp-win-front .pqnp-win-front-container {
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  max-width: 600px;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 50%;
  max-height: -webkit-calc(100% - 20px);
  max-height: calc(100% - 20px);
  height: auto;
  -webkit-transform: scale(1) translate(-50%, 0);
      -ms-transform: scale(1) translate(-50%, 0);
          transform: scale(1) translate(-50%, 0);
  -webkit-box-shadow: 3px 3px 22px -2px rgba(0, 0, 0, 0.46);
  box-shadow: 3px 3px 22px -2px rgba(0, 0, 0, 0.46);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.pqnp-win-front .pqnp-win-front-container a.pqnp-win-front-close {
  display: inline-block;
  z-index: 10;
  padding: 10px;
  color: #222;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
}

.pqnp-win-front .pqnp-win-front-container a.pqnp-win-front-close:hover {
  color: #222;
  text-decoration: none;
}

.pqnp-win-front .pqnp-win-front-container .pqnp-win-front-container-inner {
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.pqnp-win-front-opacity-transition-enter,
.pqnp-win-front-opacity-transition-appear {
  opacity: 0.01;
}

.pqnp-win-front-opacity-transition-enter.pqnp-win-front-opacity-transition-enter-active,
.pqnp-win-front-opacity-transition-appear.pqnp-win-front-opacity-transition-appear-active {
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.pqnp-win-front-opacity-transition-exit {
  opacity: 1;
}

.pqnp-win-front-opacity-transition-exit.pqnp-win-front-opacity-transition-exit-active {
  opacity: 0.01;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}
@font-face {
  font-family: 'NewsletterProCross';
  src: url("../fonts/NewsletterProCross.eot?16bmba");
  src: url("../fonts/NewsletterProCross.eot?#iefix16bmba") format("embedded-opentype"), url("../fonts/NewsletterProCross.woff?16bmba") format("woff"), url("../fonts/NewsletterProCross.ttf?16bmba") format("truetype"), url("../fonts/NewsletterProCross.svg?16bmba#NewsletterProCross") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^='np-icon-'],
[class*=' np-icon-'] {
  font-family: 'NewsletterProCross';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.np-icon-cross_1:before {
  content: '\E600';
}

.np-icon-cross_2:before {
  content: '\E601';
}

.np-icon-cross_3:before {
  content: '\E602';
}

.np-icon-cross_4:before {
  content: '\E603';
}

.np-icon-cross_5:before {
  content: '\E604';
}

.np-icon-cross:before {
  content: '\EA0F';
}

/*# sourceMappingURL=app_front.css.map*/